Source: st2-sso-backend
Section: Python
Priority: optional
Maintainer: StackStorm Engineering <opsadmin@stackstorm.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: http://stackstorm.com/

Package: st2-sso-backend
Architecture: amd64
Pre-Depends: st2
Depends: ${misc:Depends}, st2, xmlsec1
Description: SSO backend for StackStorm
